html{
    font-size: 15px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(233, 47%, 7%);
    box-sizing: border-box;

}

main{
    width: 78vw;
    height: auto;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    border-radius: 10px;
}

#content{
    padding: 9vh 8vw 8vh 6vw;
    /* padding-left: 6vw;
    padding-right: 8vw; */
    width: 25.5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#img{
    background-image: url(image-header-desktop.jpg);
    width: 38vw;
    height: auto;
    box-shadow: inset 0 0 0 2000px hsla(277, 64%, 41%, 0.7);
    border-radius: 0px 10px 10px 0px;
}

/* heading */
h1{
    padding-bottom: 20px;
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2.2rem;
}

    /* heading highlight */
    h1 span{
        color: hsl(277, 64%, 61%);
    }

/* center text block */
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 70px;
}


/* The three stats */
.stats{
    color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;;
}

    /* the numbers in the stats */
    .statNum{
        color: hsla(0, 0%, 100%, 0.9);
        font-weight: 600;
        display: block;
        padding-bottom: 4px;
        font-size: 1.5rem;
    }

    /* the text in the stats  */
    .statDesc{
        text-transform: initial;
        text-transform: uppercase;
        font-size: 10px;

    }


@media (max-width: 768px) {
   body{height: auto;}
   
    main{
        width: 86vw;  
        flex-direction: column-reverse; 
        margin: 6rem 0 4rem 0;
    }

     #img{
        width: 86vw;
        height: 63vw;
        max-height: 300px;
        background-image: url(image-header-mobile.jpg);
        background-repeat: no-repeat;
        border-radius: 10px 10px 0px 0px;
        background-size: 86vw;

    }

    #content{
        height: 57vh;
        width: auto;    
        text-align: center;
        padding: 5vh 8vw 5vh 8vw;

    }

    h1{
        font-size: 1.9rem;
    }

    p{
        padding-bottom: 10px;
    }

    .stats {
        flex-direction: column;
    }

    .stat{
        padding: 1rem 0 1rem 0;
    }
}

